body {
  background-color: rgb(34, 34, 34);
  text-align: center;
}
.heading {
  margin: 0;
  font-family: "Luna";
  font-size: medium;
  color: white;
  text-shadow: 0px 2px 3px rgb(202, 230, 255);
}
.subheading {
  font-family: "Luna";
  margin: 5px;
  color: rgb(185, 195, 204);
  font-size: xx-small;
}

.live-box {
  position: relative;
  z-index: 2;
  align-items: center;
}

.live-dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: rgb(255, 61, 61);
  box-shadow: 0px 2px 4px 2px coral;
  position: absolute;
  top: 10px;
  right: 3em;
  margin: 0.5rem;
}
.live-message {
  color: white;
  position: absolute;
  top: 0px;
  right: 0.8em;
}

@media (prefers-reduced-motion: no-preference) {
  .live-dot {
    animation: glow infinite 1s linear alternate-reverse;
  }
}

@keyframes glow {
  from {
    box-shadow: 0px 2px 4px 1px coral;
  }

  to {
    box-shadow: 0px 3px 4px 3px coral;
  }
}
.grid {
  margin: auto;
  background-color: rgb(202, 230, 255);
  height: 78vh;
  width: 90vw;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 2px rgb(202, 230, 255);
  opacity: 95%;
  cursor: grab;
}

.grid:hover {
  opacity: 100%;
  filter: saturate(1);
}

.sky {
  margin: auto;
  background-color: rgb(180, 160, 255);
  background-image: url("./graphics/bg1.jpg");
  opacity: 90%;
  background-size: cover;
  height: 78vh;
  width: 90vw;
}

.land {
  margin: auto;
  background-color: rgb(154, 199, 103);
  height: 10vh;
  width: 90vw;
}
.cave {
  position: absolute;
  height: 17vh;
  width: auto;
}
.dragon {
  position: absolute;
  height: 10vh;
  width: auto;
  user-select: none;
}
.dragon-box {
  left: 0vh;
  right: 0vh;
  top: 62vh;
}

#food {
  border-radius: 15px;
  border: 4px solid rgb(99, 191, 252);
  cursor: cell;
  padding: 3px;
}

#nest {
  border-radius: 15px;
  border: 4px solid rgb(175, 255, 164);
  cursor: cell;
  padding: 3px;
}

.item-box {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  column-gap: 3rem;
  color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
  z-index: 2;
  margin-left: 1rem;
}

.item {
  margin: 5%;
  cursor: pointer;
  max-width: 28vw;
  user-select: none;
  height: fit-content;
}

.item-text {
  margin: 0.1rem;
}
.box {
  user-select: none;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.food-bar {
  user-select: none;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 10px solid rgb(161, 255, 161);
  max-width: 29vw;
}
.nest-bar {
  user-select: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  border-bottom: 10px solid rgb(161, 255, 161);
  max-width: 29vw;
  transform: translateY();
}

/* @media (prefers-reduced-motion: no-preference) {
  .dragon-box {
    animation: jump infinite 1s linear alternate-reverse;
  }
}

@keyframes jump {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(20px);
  }
} */
